:root {
  font-family: Oswald, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --index: calc(1vw + 1vh);
}

body {
  margin: 0;
  height: 100vh;

  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.418)),
    /* url("https://wargm.ru/img/db/1f/e2/1fe26f69ce3590f980ea47451a944759.jpg"); */
      url("https://i.pinimg.com/originals/1d/60/78/1d6078837ac68b5f5b53f3f286145c9c.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}
